* {
    box-sizing: border-box;
}



body {
    overflow: hidden;
}

.HomePage {
    background-color: black;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow: hidden;
}

.name {
    grid-area: name;
    color: white;
    margin: 50px;
}

.lorem {
    grid-area: lorem;
    color: grey;
    padding: 40px;
}

.socialmedia {
    grid-area: insta;

}

.element-wrapper {
    display: grid;
    margin-left: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "name name"
    "lorem insta";
}

.my-name {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 80px;
}

.proffesion {
    color: grey;
    padding: 0;
    margin: 0;
    font-size: 100px;
}

.socialmedia {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.insta-wrapper {
    display: flex;
    background-image: linear-gradient(to top, red, orange);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    align-items: center;
    margin: auto;
    transition: 2s;
}

.insta{
    margin: auto;
    width: 64px;
    height: 64px;
}

.insta-wrapper:hover {
    background-image: linear-gradient(to bottom, red, orange);
}

.twitter-wrapper{
    display: flex;
    background-image: linear-gradient(to top, red, blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    align-items: center;
    margin: auto;
    cursor: pointer;
    transition: 2s;
}

.twitterlogo {
    width: 64px;
    height: 64px;
    margin: auto;
}

.twitter-wrapper:hover{
    background-image: linear-gradient(to bottom, red, blue);
}